
@media print {
body {
	margin: 0;
	padding: 0;
	line-height: 1.4em;
	word-spacing: 1px;
	letter-spacing: 0.2px;
	font: 14px Arial, Helvetica, "Lucida Grande", serif;
	color: #000;
}
.main{display:none !Important;}
a[href]:after {
    content: none !important;
}
header .col-md-6 {
	width:100% !important;
}
a.logo {
	float:none !important;
	margin:0 0 20px 0 !important;
	display:block;
}
h4 {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #3061b9 !important;
}

.legal-content p {
	margin-bottom: 20px;
}
ul.bullet2 {
	margin:0 0 30px 20px;
	padding:0;
	list-style: disc;
}
ul.bullet2 li {
	margin:0;
	padding:0;
	list-style: disc;
}
footer {
	margin-top:0;
}
footer .col-md-6 {
	width:100% !important;
	text-align:center !important;
}
.c-bg-dark-2 {
	padding:15px 0 !important;
}
footer .text-right {
	text-align:center !important;
}
.c-copyright {
	margin:0 0 5px 0 !important;	
}
.c-font-grey-3, c-font-grey {
	color:#fff !important;
}
